.search-bar {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  position: fixed;
  width: 100%;
}

.search-bar-container {
  margin: 0 auto;
  width: 50vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.search-logo img {
  width: 100px;
  height: auto;
}
