.post-container {
  background-color: white;
  text-align: left;
  width: 32vw;
  margin: 130px auto;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 2px;
}

.post-username-container {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: flex-start;
  height: 70px;
  align-items: center;
}

.post-username-icon {
  padding: 15px;
}

.post-username-icon img {
  border-radius: 50%;
  width: 35px;
}

.post-username h1 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.post-image img {
  width: 100%;
  margin: 0;
}

.content-container {
  display: flex;
  flex-flow: row nowrap;
  width: 45vw;
  margin: 0 auto;
}

.reco-container {
  position: fixed;
  width: 15vw;
  right: 24vw;
  margin-top: 130px;
  text-align: left;
}

.reco-stories {
  background-color: white;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 2px;
  padding: 15px;
}

.stories-title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.stories-title h3 {
  font-size: 0.9rem;
  color: grey;
}

.stories-title h4 {
  font-size: 0.8rem;
}

.reco-suggestions {
  background-color: white;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 2px;
  padding: 15px;
  margin-top: 12px;
}

.user-info {
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
}

.user-info img {
  border-radius: 50%;
  height: 55px;
  border: 1px solid rgb(226, 226, 226);
}

.username-realname {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 15px;
}

.username-realname h3 {
  font-size: 0.9rem;
}

.username-realname h4 {
  font-size: 0.8rem;
  font-weight: normal;
  color: grey;
}
